*{background-color: rgb(228, 170, 137);
  color: rgb(92, 23, 2);  
}
h1{
    text-align: center;
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400;
}
nav{
    background-color: cornsilk;
    padding-bottom:25px;
    padding-top: 25px;
}
a:hover{
  background-color: rgb(7, 156, 69);
}
table ,th,td {

  font-family: arial, sans-serif;
  border: 1px solid black;
  width: 75;
  margin-top: 5%;
}
div{
  margin-top: 5%;

}
footer,h3,h4,h2{
  background-color: rgb(92, 23, 2);
  color: rgb(228, 170, 137);
  border-style:double;
}
section main h3{
  border-style: dotted;
  margin-right: 750px;
}
a:hover{
  background-color: ivory;
  color: blue;
}
a:link{
  text-decoration: none;
}
section ul li{
  list-style-type: circle;
}
section main img{
  margin-top: 10px;
  display: inline;
  width: 250px;
  height: 250px;
}